<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="../../../assets/IHZBtransparentBackground.png" alt="logo" width="120" height="98" class="d-inline-block align-text-top">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#Home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#About">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Service">SERVICE</a>
        </li>
      </ul>
      <ul class="navbar-nav sm-icons ">
        <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-instagram"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-pinterest-p"></i></a></li>
    </ul>
    </div>
  </div>
</nav>
